html, body { background-color: #eeeeee; height: 100%; margin: 0; padding: 0; }
p {
    background-color: #ddddff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: block;
    height: 300px;
    width: 400px;
    margin: 100px auto;
}